@use './variables';
@use './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-stack;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    input[type="checkbox"] {
        display: none;
    }

    h1 {
        color: variables.$app-bg-lt;
        letter-spacing: 1rem;
    }

    .inactive {
        display: none;
    }

    label:hover {
        cursor: pointer;
    }
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: variables.$main-bg-color-lt;
}

.main-container {
    position: absolute;
    top: 100px;
    height: 80vh;
    width: 40vw;
    transition-duration: .1s;
    @media screen and (max-width: 720px) {
        transition-duration: .1s;
        width: 80vw;
    }
    
    .moon {
        display: block;
    }

    .sun {
        display: none;
    }
}

// dark mode
#dark {
    .page-wrapper {
        background-color: variables.$main-bg-color-dk;
    }
}