@use './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-stack;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: variables.$main-bg-color-lt;
}

.main-container {
    position: absolute;
    top: 100px;
    height: 80vh;
    width: 40vw;
    transition-duration: .3s;
    @media screen and (max-width: 720px) {
        transition-duration: .3s;
        width: 80vw;
    }
    
    .moon {
        display: block;
    }

    .sun {
        display: none;
    }
}

// dark mode